<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>	
	
	  <events timingLevel="custom">
		  <event name="publish:end">
			  <handler type="Sitecore.Modules.SitemapXML.SitemapHandler, Sitemap.XML" method="RefreshSitemap" />
		  </event>
	  </events>
    
    <sitemapVariables>

      <sitemapVariable name="xmlnsTpl" value="http://www.sitemaps.org/schemas/sitemap/0.9" />
      <sitemapVariable name="database" value="web" />
      <sitemapVariable name="sitemapConfigurationItemPath" value="/sitecore/system/Modules/Sitemap XML/Sitemap configuration" />
      <sitemapVariable name="productionEnvironment" value="false" />
      <sites>
        <!-- 
      serverUrl: (optional) will be used to generate url in sitemap file. 
      If serverUrl left blank, the hostname value set in web.config file for each site will be used.
      Example: serverUrl="www.
      name: this is the sitename which is defined in <site> element in sitecore web.config file.
      filename: the xml sitemap file name. This file name will be inserted into robots.txt file.
      -->
        <site name="website_1" filename="sitemap1.xml" serverUrl="www.site1domain.com" />
        <site name="website_2" filename="sitemap2.xml" serverUrl="www.site2domain.com"/>
      </sites>
    </sitemapVariables>
    
    
    <!-- For SEO purpose, we might want to lowercase the ur.
    Remove the below custom LinkProviderif we don't want to lowercase the url-->
    <linkManager>
      <providers>
        <add name="sitecore">
          <patch:attribute name="type">Sitemap.XML.Links.LowerCaseLinkProvider,Sitemap.XML</patch:attribute>
          <patch:attribute name="addAspxExtension">false</patch:attribute>
          <patch:attribute name="languageEmbedding">never</patch:attribute>
        </add>
      </providers>
    </linkManager>

    <!--For SEO purpose, we might want to replace space in url with hyphen.
    Remove below encodeNameReplacements if we do not want to do so.
    Note that if we replace space with hyphen in url then content item name should not have hyphen.
    We can do so by either adjust InvalidItemNameChars settings (as below) or writing Item Name rule not to allow hyphen for item name if the item is content item.-->
    <encodeNameReplacements>
      <replace mode="on" find=" " replaceWith="-" />
    </encodeNameReplacements>
    
    <!--<settings>
      --><!--Ensure that the item name with hyphen is not allowed--><!--
      <setting name="InvalidItemNameChars">
        <patch:attribute name="value">
          \/:?&quot;&lt;&gt;|[]-
        </patch:attribute>
      </setting>
    </settings>-->
  </sitecore>  
</configuration>