<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>	    
    <sitemapVariables>
      <sitemapVariable name="xmlnsTpl" value="http://www.sitemaps.org/schemas/sitemap/0.9" />
      <sitemapVariable name="database" value="master" />
      <sitemapVariable name="sitemapConfigurationItemPath" value="/sitecore/system/Modules/Sitemap XML/" />
      <sitemapVariable name="productionEnvironment" value="false" />
      <sites>
        <!-- 
      serverUrl: (optional) will be used to generate url in sitemap file. 
      If serverUrl left blank, the hostname value set in web.config file for each site will be used.
      Example: serverUrl="www.
      name: this is the sitename which is defined in <site> element in sitecore web.config file.
      filename: the xml sitemap file name. This file name will be inserted into robots.txt file.
      -->
        <site name="website" filename="sitemap1.xml" serverUrl="sc80rev150621" />
      </sites>
    </sitemapVariables>

    <!--Update sitemap on publish-->
    <events timingLevel="custom">
      <event name="publish:end">
        <handler type="Sitecore.Modules.SitemapXML.SitemapHandler, Sitemap.XML" method="RefreshSitemap" />
      </event>
    </events>
    
    <!-- For SEO purpose, we might want to lowercase the url.
    Remove the below custom LinkProviderif we don't want to lowercase the url-->
    <linkManager defaultProvider="sitecore">
      <providers>
        <add name="sitecore" >
          <patch:attribute name="addAspxExtension">false</patch:attribute>
          <patch:attribute name="shortenUrls">true</patch:attribute>
          <patch:attribute name="languageEmbedding">never</patch:attribute>
          <patch:attribute name="lowercaseUrls">true</patch:attribute>
        </add>
      </providers>
    </linkManager>
  </sitecore>  
</configuration>